*{
    margin:0;
    padding:0p;
    font-family:"Helvetica";
  }
  
  body{
    background: bisque;   
      user-select: none;
   
  }
  
  ul{
    list-style:none;
  }
  
  li{
    display:inline-block;
  }
  
  .body{
    margin:0 auto;
    width:1000px;
    padding-top:40px;     
  }
  
  #canvas{
  }